# Получить токен: напишите @BotFather в Telegram
BOT_TOKEN=8816275943:AAHRfBGYIIEUqmFa935SoO2cqBSqINIbsLM

# Бесплатный ключ OCR.space (500 запросов/день)
# Получить свой: https://ocr.space/ocrapi/freekey
OCR_API_KEY=helloworld

# Опциональные настройки (можно не менять)
ADMIN_USER_ID=ваш_telegram_id
# RATE_LIMIT_SECONDS=2
# MAX_FILE_SIZE_MB=20
# NUM_THREADS=4

# Канал для обязательной подписки
CHANNEL_USERNAME=ozonwariors

# Ссылка на бота в MAX
MAX_BOT_LINK=https://max.ru/id771692758487_bot
